<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WIAD CDMX 2015</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="WIAD CDMX 2015">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#ED3138">

    <!-- Page styles -->
    <link rel="stylesheet" href="../../styles/main.css">
  </head>
  <body>
    <header class="app-bar promote-layer">
      <div class="app-bar-container">
        <button class="menu"><img src="images/hamburger.svg" alt="Menu"></button>
        <h1 class="logo">World Information Architecture Day 2015 - Mexico City</h1>
        <span class="logo-globe">WIAD 2015 logo</span>
      </div>
    </header>
    <nav class="navdrawer-container promote-layer" id="sticky">
      
      <h4>Navigation</h4>
      <ul>
        <li><a class="pSobre" href="//wiadcdmx.org/#about">Acerca</a></li>
        <li><a class="pAgenda" href="//wiadcdmx.org/#agenda">Agenda</a></li>
        <li><a class="pOradores" href="//wiadcdmx.org/#speakers">Oradores</a></li>
        <li><a class="pUbicacion" href="//wiadcdmx.org/#location">Ubicación</a></li>
        <li><a class="pTickets" href="//wiadcdmx.org/#tickets">Tickets</a></li>
        <li><a class="pPatrocinadores" href="//wiadcdmx.org/#sponsors">Patrocinadores</a></li>
        <li><span class="navlogo">WIAD 2015 logo</span></li>
      </ul>
    </nav>
    <main id="fluid">
      <section class="section wiad-abt-container">
        <h2>Presentation templates</h2>
        <ul>
            <li><a href="598527.pptx">Powerpoint #598527</a></li>
            <li><a href="#">Powerpoint #27AEC4 - TBD</a></li>
            <li><a href="#">Powerpoint #C05FE3 - TBD</a></li>
            <li><a href="#">Powerpoint #FF3E3F - TBD</a></li>
            <li><a href="#">Powerpoint #FFD73F - TBD</a></li>
            <li><a href="#">Powerpoint #B9EB48 - TBD</a></li>
        </ul>
        <ul>
            <li><a href="#">Keynote #598527 - TBD</a></li>
            <li><a href="#">Keynote #27AEC4 - TBD</a></li>
            <li><a href="#">Keynote #C05FE3 - TBD</a></li>
            <li><a href="#">Keynote #FF3E3F - TBD</a></li>
            <li><a href="#">Keynote #FFD73F - TBD</a></li>
            <li><a href="#">Keynote #B9EB48 - TBD</a></li>
        </ul>
      </section>
      <!---->
    </main>
    <!-- build:js scripts/main.min.js -->
    <script src="../../scripts/main.js"></script>
    <!-- Trigger -->
    <script>
    //smooth scrolling        smoothScroll.init();
    //parallax        myParaxify = paraxify('.fullp');
        // Set options
        var options = {
            offset: '#showHere',
            classes: {
                clone:   'banner--clone',
                stick:   'banner--stick',
                unstick: 'banner--unstick'
            }
        };

        // Initialise with options
        var banner = new Headhesive('#sticky', options);

        // Headhesive destroy
        // banner.destroy();
    
    </script>
    <!-- endbuild -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-57181008-1', 'auto');
      ga('send', 'pageview');
     
    </script>
  </body>
</html>
